<nav>
  <% if (user) { %>
    <a href="/users/<%= user._id %>/games">Your Game Collection</a>
    <form action="/users/<%= user._id %>/games/search" method="GET" style="display: inline;">
      <input
        type="text"
        name="query"
        placeholder="Search games..."
        required
      />
      <button type="submit">Search</button>
    </form>
    <a href="/auth/sign-out" >Sign Out</a>
  <% } else { %>
    <a href="/auth/sign-in">Sign In</a>
    <a href="/auth/sign-up">Sign Up</a>
    <% } %>
</nav>
  