/* Import font and general body settings */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700;900&display=swap');

body {
    margin: 0;
    font-family: 'Orbitron', sans-serif;
    padding-top: 50px; 
    background-color: #181515; 
    color: #F8F8FF; 
}

/* Navbar styling */
.main-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #420242; 
    padding: 10px 20px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10; 
}

.navbar-left, .navbar-right {
    display: flex;
    align-items: center;
}

.navbar-title {
    color: white;
    font-size: 24px;
    text-decoration: none;
    text-shadow: 0 0 5px #8A2BE2, 0 0 10px #8A2BE2, 0 0 15px #8A2BE2; 
}

.navbar-link, .navbar-button {
    color: white;
    margin-left: 15px; 
    font-size: 18px;
    text-decoration: none;
    padding: 5px 25px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.navbar-right {
    margin-right: 20px; 
}

/* Hover effects */
.navbar-link:hover, .navbar-button:hover {
    background-color: #8A2BE2; 
    color: white;
}

.search-form {
    display: inline-block;
}

.search-form input[type="text"] {
    margin-right: 5px;
    border: 1px solid #ccc;
    padding: 5px;
}

.search-form button {
    background-color: #8A2BE2;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.search-form button:hover {
    background-color: #9a4bed;
}

/* Container homepage */
.homepage-container {
    text-align: center;
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
}

/* Title styling */
.homepage-title {
    font-size: 40px;
    color: #FFFFFF;
    text-shadow: 0 0 8px #8A2BE2, 0 0 10px #8A2BE2, 0 0 12px #8A2BE2;
    margin-bottom: 16px;
}

/* Description styling */
.homepage-description {
    font-size: 19px;
    color: #555555;
    margin-bottom: 32px;
}

/* Button styling */
.homepage-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #1e293b;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.homepage-button:hover {
    background-color: #334155;
}

/* Scrollable game covers section */
.game-covers-container {
    text-align: center;
    margin: 30px auto;
    width: 100%; 
    overflow: hidden; 
}

/* Scrollable area */
.game-covers-scroll {
    display: flex;
    justify-content: center; 
    flex-wrap: nowrap; 
    overflow-x: auto;
    gap: 15px;
    padding: 10px;
}

/* Game cover images */
.game-cover {
    width: 150px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.game-cover:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px #FFFFFF;
}



/*sign-in and sign-up pages */
.signin-container, .signup-container {
    background-color: #292929; 
    padding: 40px;
    width: 320px; 
    margin: 100px auto; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
}

/*form elements */
.signin-container h1, .signup-container h1 {
    color: #FFFFFF; 
    text-align: center; 
    margin-bottom: 20px; 
}

.signin-container form, .signup-container form {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.signin-container input[type="text"], .signin-container input[type="password"],
.signup-container input[type="text"], .signup-container input[type="password"] {
    width: 100%; 
    padding: 8px;
    margin-bottom: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    background: #333; 
    color: #fff; 
}

.signin-container button[type="submit"], .signup-container button[type="submit"] {
    width: 100%; 
    padding: 10px;
    background-color: #420242; 
    border: none;
    
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin-top: 15px; 
}

.signin-container button[type="submit"]:hover, .signup-container button[type="submit"]:hover {
    background-color: #8A2BE2; 
}








/* Game collection grid layout after signing in */

.add-game-link {
    display: inline-block;
    background-color: #420242; 
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 20px 0; 
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s; 
}

.add-game-link:hover {
    background-color: #8A2BE2; 
    color: #FFFFFF; 
}


.game-item-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.game-item {
    background-color: #292929; 
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s, box-shadow 0.3s;
}

.game-item:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #8A2BE2; 
}

.game-image {
    width: 100%; 
    height: auto;
    border-radius: 5px;
}

.game-title-button {
    background-color: #420242; 
    color: white;
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 5px;
    margin-top: 10px; 
    border-radius: 5px;
    transition: background-color 0.3s;
}

.game-title-button:hover {
    background-color: #8A2BE2; 
}

.game-details {
    color: #ccc;
    font-size: 14px;
    padding: 10px 0; 
    text-align: center; 
}





/* if i only knew this sooner*/
.show-game-details-container {
    display: flex;
    align-items: start; 
    padding: 20px;
    gap: 20px; 
}

.show-game-image-container {
    flex-basis: 30%; 
}

.show-game-info-container {
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start; 
}

.show-game-image {
    width: 100%; 
    height: auto;
    border-radius: 5px;
}

.show-game-details-link, .show-game-details-form {
    margin-top: 10px;
}

.show-game-details-button {
    padding: 10px 15px;
    background-color: #420242; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.show-game-details-button:hover {
    background-color: #8A2BE2;
}

.show-game-details-link {
    display: inline-block;
    background-color: #1e293b;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 10px;
}

.show-game-details-link:hover {
    background-color: #334155;
}







/* Container for the form to add a new game */
.new-game-container {
    background-color: #292929; 
    padding: 40px;
    width: 320px; 
    margin: 100px auto; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
}


.new-game-container h1 {
    color: #FFFFFF; 
    text-align: center; 
    margin-bottom: 20px; 
}

.new-game-container form {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.new-game-container input[type="text"], 
.new-game-container input[type="url"], 
.new-game-container input[type="number"], 
.new-game-container select {
    width: 100%; 
    padding: 4px;
    margin-bottom: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    background: #333; 
    color: #fff; 
}

.new-game-container button {
    width: 100%; 
    padding: 10px;
    background-color: #420242; 
    border: none;
    border-radius: 5px; 
    color: white;
    cursor: pointer;
    margin-top: 15px; 
}

.new-game-container button:hover {
    background-color: #8A2BE2; 
}
